section.canhcam-banner-1
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.slide-inner(bg-img="./img/banner/home_banner_1.jpg")
			.swiper-slide
				.slide-inner(bg-img="./img/banner/home_banner_1.jpg")
		.swiper-btn.swiper-button-next.swiper-button-white
		.swiper-btn.swiper-button-prev.swiper-button-white
		.swiper-pagination