section.canhcam-banner-1
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a.slide-inner(href="#" bg-img="./img/banner/home_banner_1.jpg")
					.container
						h2
							| Nhận mua hộ và ship hàng từ
							br
							| các website Mỹ
						.see__more
							p Xem thêm

			.swiper-slide
				a.slide-inner(href="#" bg-img="./img/banner/home_banner_1.jpg")
					.container
						h2
							| Nhận mua hộ và ship hàng từ
							br
							| các website Mỹ
						.see__more
							p Xem thêm
		.swiper-btn.swiper-button-next.swiper-button-white
		.swiper-btn.swiper-button-prev.swiper-button-white
		.swiper-pagination