section.canhcam-home-2
	article.homes-list
		.container
			.row
				.col-lg-6
					.top-list
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/home/home_1.jpg", alt="alt")
								figcaption
									h3 Nước hoa & Mỹ phẩm
				.col-lg-6
					.part-list.owl-carousel.owl-theme
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/home/home_2.jpg", alt="alt")
								figcaption
									h3 Thời trang & phụ kiện
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/home/home_3.jpg", alt="alt")
								figcaption
									h3 Đồ dùng & thực phẩm
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/home/home_3.jpg", alt="alt")
								figcaption
									h3 Đồ dùng & thực phẩm
				.col-lg-4
					figure(bg-img="./img/home/home_bg_2.jpg")
						.boxicon
							img(src="./img/home/icon_1.png", alt="alt")
						figcaption
							h2 hàng chính hãng
							p Chất lượng bảo đảm 100% từ Mỹ
				.col-lg-4
					figure(bg-img="./img/home/home_bg_2.jpg")
						.boxicon
							img(src="./img/home/icon_2.png", alt="alt")
						figcaption
							h2 Order hàng mỹ
							p Uy tín - Nhanh chóng - Chi phí thấp 
				.col-lg-4
					figure(bg-img="./img/home/home_bg_2.jpg")
						.boxicon
							img(src="./img/home/icon_3.png", alt="alt")
						figcaption
							h2 Mua hàng tích điểm
							p Mỗi 10,000đ tích 1 điểm. 500 điểm được tặng một phiếu mua hàng trị giá 250,000đ