section.canhcam-home-2
	article.home-lists
		.container
			.row
				.col-lg-6
					.top-list
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/home/home_1.jpg", alt="alt")
								figcaption
									h3 Nước hoa & Mỹ phẩm
				.col-lg-6
					.part-list.owl-carousel.owl-theme
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/home/home_2.jpg", alt="alt")
								figcaption
									h3 Thời trang & phụ kiện
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/home/home_3.jpg", alt="alt")
								figcaption
									h3 Đồ dùng & thực phẩm
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/home/home_3.jpg", alt="alt")
								figcaption
									h3 Đồ dùng & thực phẩm