<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="Home - Banners" value="1" resourcefile="" />
    <add name="Home - Brands" value="2" resourcefile="" />
    <add name="Home - Feature" value="4" resourcefile="" />
    <add name="Home - ProductList" value="8" resourcefile="" />
    <add name="Banner - Trang Trong" value="16" resourcefile="" />
    <add name="Banner - Order Mỹ" value="32" resourcefile="" />
  </position>
  
</settings>