section.smx-product-2
	article
		.container
			.row
				.col-lg-3
					a(href="javacript:void(0)").btn.btn-primary.btn-trigger-filter Bộ lọc
						span.mdi.mdi-filter
					.sidemenu
						.categories-wrapper.hassub
							h2.title-line.sub-title Danh mục sản phẩm
							.categories-menu.hassub-menu
								ul.list-unstyled
									li.hassub
										a(href="javacript:void(0)").sub-title Chăm sóc cơ thể
											em.fas.fa-caret-down
										ul.list-unstyled.hassub-menu
											li.active
												a(href="javacript:void(0)") Gel tắm
											li 
												a(href="javacript:void(0)") Xà phòng
											li 
												a(href="javacript:void(0)") Bông tắm
											li 
												a(href="javacript:void(0)") Dưỡng thể
											li 
												a(href="javacript:void(0)") Dưỡng tay
											li 
												a(href="javacript:void(0)") Dưỡng gót chân
											li 
												a(href="javacript:void(0)") Tẩy tế bào chết
											li 
												a(href="javacript:void(0)") Dưỡng da bé
											li 
												a(href="javacript:void(0)") Khử mùi
											li 
												a(href="javacript:void(0)") Gel rửa tay
									li.hassub
										a(href="javacript:void(0)").sub-title Chăm sóc cơ thể
											em.fas.fa-caret-down
										ul.list-unstyled.hassub-menu
											li 
												a(href="javacript:void(0)") Gel tắm
											li 
												a(href="javacript:void(0)") Xà phòng
											li 
												a(href="javacript:void(0)") Bông tắm
											li 
												a(href="javacript:void(0)") Dưỡng thể
											li 
												a(href="javacript:void(0)") Dưỡng tay
											li 
												a(href="javacript:void(0)") Dưỡng gót chân
											li 
												a(href="javacript:void(0)") Tẩy tế bào chết
											li 
												a(href="javacript:void(0)") Dưỡng da bé
											li 
												a(href="javacript:void(0)") Khử mùi
											li 
												a(href="javacript:void(0)") Gel rửa tay

						.filter-wrapper
							.filter-item.hassub 
								h2.title-line.sub-title Thương hiệu
								ul.hassub-menu
									li 
										a(href="javacript:void(0)") Nina west
									li.active 
										a(href="javacript:void(0)") Michael Kors
									li 
										a(href="javacript:void(0)") Gap
									li 
										a(href="javacript:void(0)") Lacoste
									li 
										a(href="javacript:void(0)") Coach
									li 
										a(href="javacript:void(0)") Fossil
									li 
										a(href="javacript:void(0)") Ralph Lauren
									li 
										a(href="javacript:void(0)") Gucci
									li 
										a(href="javacript:void(0)") Mango
									li 
										a(href="javacript:void(0)") Zara
				.col-lg-9
					