section.smx-product-detail-1
	article
		.container
			.row
				.col-lg-5
					.product-img
						.big-thumbnail
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
						.small-thumbnail
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
							.item
								img(src="./img/product_ct/product_ct_1.png", alt="")
				.col-lg-7
					.product-info
						h2 Polo Ralph Lauren Classic Fit - RL 2000
						h3 1.100.000 VND
						table
							tbody
								tr
									th Mã sản phẩm
									td MSP123456
								tr
									th Tình trạng
									td Có hàng
								tr
									th Phí vận chuyển
									td Giá chưa bao gồm phí 
										a(href="#") (Xem ước tính)
						.input-and-button
							.quanlity-wrapper
								span.minus -
								input(type="text" value="1")
								span.add +
							.mx-btn
								a(href="#") Mua sản phẩm
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter')
							.nav-item
								.g-plus(data-action='share')
							.nav-item
								script(src='//platform.linkedin.com/in.js', type='text/javascript').
									lang: en_US
								script(type='IN/Share').
			.row.product-desc
				h2.mx__title--gradient.title-line Mô tả sản phẩm
				.col.px-0
					.product-props
						table
							tbody
								tr
									th Chất liệu
									td Thun mịn, đẹp, thấm hút tốt.
								tr
									th Kiểu dáng
									td Classic Fit.
								tr
									th Màu sắc
									td Màu đỏ 
								tr
									th Size
									td XS
								tr
									th Xuất sứ
									td Mỹ
						p Lưu ý: Hàng mua trực tiếp tại store Ralph Lauren ở Mỹ, Shop không bán hàng VNXK.
						.product-size
							img(src="./img/product_ct/product_ct_2.png", alt="").img-fluid
