section.smx-order-1
	article
		.container
			.row
				.col-12
					h2.mx__title--gradient.title-line order hàng mỹ
				.col-12
					.brand-slider.owl-carousel.owl-theme
						.item(data-toggle="tooltip" data-placement="bottom" title="Mặt hàng đa dạng phong phú")
							img(src="./img/order/2.png")
						.item(data-toggle="tooltip" data-placement="bottom" title="Mặt hàng đa dạng phong phú")
							img(src="./img/order/2.png")
						.item(data-toggle="tooltip" data-placement="bottom" title="Mặt hàng đa dạng phong phú")
							img(src="./img/order/2.png")
						.item(data-toggle="tooltip" data-placement="bottom" title="Mặt hàng đa dạng phong phú")
							img(src="./img/order/2.png")
						.item(data-toggle="tooltip" data-placement="bottom" title="Mặt hàng đa dạng phong phú")
							img(src="./img/order/2.png")
						.item(data-toggle="tooltip" data-placement="bottom" title="Mặt hàng đa dạng phong phú")
							img(src="./img/order/2.png")
section.smx-order-2
	article
		.container
			.row
				.col
					ul.nav.nav-tabs
						li
							a(data-toggle='tab', href='#order-1') Cách tính phí
						li
							a(data-toggle='tab', href='#order-2') Phương thức order
						li
							a(data-toggle='tab', href='#order-3') hình thức thanh toán
						li
							a(data-toggle='tab', href='#order-4') hình thức giao nhận
						li
							a(data-toggle='tab', href='#order-5') điều khoản cần lưu ý

section.smx-order-3
	article
			.container
				.row
					.col
						.tab-content
							.tab-pane.fade.show.active#order-1(role="tabpanel")
								.content
									.item
										figure
											.img-block
												img(src="./img/order/icon-1.png", alt="")
											figcaption
												p Khách hàng gửi link sản phẩm cần order vào e-mail: uyenuong@gmail.com 
									.item
										figure
											.img-block
												img(src="./img/order/icon-1.png", alt="")
											figcaption
												p Khách hàng gửi link sản phẩm cần order vào e-mail: uyenuong@gmail.com 
									.item
										figure
											.img-block
												img(src="./img/order/icon-1.png", alt="")
											figcaption
												p Khách hàng gửi link sản phẩm cần order vào e-mail: uyenuong@gmail.com 
							.tab-pane.fade#order-2(role="tabpanel")
								.content
									.item
										figure
											.img-block
												img(src="./img/order/icon-2.png", alt="")
											figcaption
												p Khách hàng gửi link sản phẩm cần order vào e-mail: uyenuong@gmail.com 
									.item
										figure
											.img-block
												img(src="./img/order/icon-1.png", alt="")
											figcaption
												p Khách hàng gửi link sản phẩm cần order vào e-mail: uyenuong@gmail.com 
									.item
										figure
											.img-block
												img(src="./img/order/icon-1.png", alt="")
											figcaption
												p Khách hàng gửi link sản phẩm cần order vào e-mail: uyenuong@gmail.com 
										
