section.canhcam-home-6(bg-img="./img/home/home_promo_bg.png")
	article.homes-list
		.container
			.row
				.col-12
					h2.mx__title.mx__title--white Sản phẩm khuyến mãi
					.list-promos.owl-carousel.owl-theme
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/product/product_1.jpg", alt="alt")
								figcaption
									h3 Smashbox Lighting Theory Master Class Palette
									.price
										span.new 5.000.000 đ
										span.old 7.000.000 đ
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/product/product_1.jpg", alt="alt")
								figcaption
									h3 L'Oréal Superior Preference, 3 Soft Black
									.price
										span.new 5.000.000 đ
										span.old 7.000.000 đ
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/product/product_1.jpg", alt="alt")
								figcaption
									h3 Bộ nồi + chảo WMF Toskana Cookware 
									.price
										span.new 5.000.000 đ
										span.old 7.000.000 đ
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/product/product_1.jpg", alt="alt")
								figcaption
									h3 Chanel Chance - Eau de Parfum 
									.price
										span.new 5.000.000 đ
										span.old 7.000.000 đ
						a(href="#").item
							figure
								.boxzoom
									img(src="./img/product/product_1.jpg", alt="alt")
								figcaption
									h3 Chanel Chance - Eau de Parfum 
									.price
										span.new 5.000.000 đ
										span.old 7.000.000 đ
