section.canhcam-home-8
	article.homes-list
		.container
			.row.h-100
				.col-sm-4.item
					figure.figure
						.img-block
							img(src="./img/home/icon_4.png", alt="")
						figcaption.figcaption
							h2 Tất cả sản phẩm 100% chính hãng
				.col-sm-4.item
					figure.figure
						.img-block
							img(src="./img/home/icon_5.png", alt="")
						figcaption.figcaption
							h2 Giao hàng nhanh chóng trong ngày
				.col-sm-4.item
					figure.figure
						.img-block
							img(src="./img/home/icon_6.png", alt="")
						figcaption.figcaption
							h2 Đa dạng chủng loại sản phẩm