section.canhcam-sale-1
	article.sales-list
		.container
			.row
				.col-12
					h1.mx__title.mx__title--gradient Khuyến mãi
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/sale/sale_1.png", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.name
								a(href="#") BCBG Koda Sling-Back Glitter 
							.cost
								span.price 1.500.000 đ
								span.old  13.900.000 VND
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/sale/sale_2.png", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.name
								a(href="#") Koda Sling-Back Glitter 
							.cost
								span.price 1.500.000 đ
								span.old  13.900.000 VND
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/sale/sale_3.png", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.name
								a(href="#") Gucci Men's Horsebit Leather Loafer
							.cost
								span.price 1.500.000 đ
								span.old  13.900.000 VND
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/sale/sale_4.png", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.name
								a(href="#") Gel tắm gội Bath & Body Works 2in1 - Dark Amber
							.cost
								span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/sale/sale_5.png", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.name
								a(href="#") Harman Kardon Onyx Mini Portable Wireless
							.cost
								span.price 1.500.000 đ
								span.old  13.900.000 VND
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/sale/sale_6.png", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.name
								a(href="#") Blackberry 9700 Bold Unlocked 
							.cost
								span.price 1.500.000 đ
								span.old  13.900.000 VND
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/sale/sale_7.png", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.name
								a(href="#") BROUK & CO Green Journeyman Tour Bag
							.cost
								span.price 1.500.000 đ
								span.old  13.900.000 VND
				.col-12
					.mx-btn
						a(href="") Xem thêm
