footer.canhcam-footer-1
	section.footer-link
		.container.px-sm-0
			.row
				.col-sm-6.col-lg-3.mb-3.mb-sm-0
					h2.title-line thông tin liên hệ
					ul.list-unstyled
						li 
							em.mdi.mdi-home
							a(href="javascript:void(0)") 182 Tân Phước, Phường 6, Quận 10, TP.HCM
						li 
							em.mdi.mdi-phone
							a(href="javascript:void(0)") VN: (+84) 090 331 9840
						li 
							em.mdi.mdi-phone
							a(href="javascript:void(0)")  US: (+1) 702 703 9988
						li 
							em.mdi.mdi-email
							a(href="javascript:void(0)") uyenuong@gmail.com 
				.col-sm-6.col-lg-3.mb-3.mb-sm-0
					h2.title-line Danh mục sản phẩm
					ul.list-unstyled
						li 
							a(href="javascript:void(0)") Chăm sóc cá nhân
						li 
							a(href="javascript:void(0)") Chăm sóc sức khỏe
						li 
							a(href="javascript:void(0)") Đồ dùng &amp; thực phẩm
						li 
							a(href="javascript:void(0)") Nước hoa &amp; mỹ phẩm
						li 
							a(href="javascript:void(0)") Thời trang &amp; phụ kiện
						li 
							a(href="javascript:void(0)") Thanh lý &amp; giảm giá
				.col-sm-6.col-lg-3.mb-3.mb-sm-0
					h2.title-line Hỗ trợ khách hàng
					ul.list-unstyled
						li 
							a(href="javascript:void(0)") Phương thức đặt hàng
						li 
							a(href="javascript:void(0)") Hình thức thanh toán
						li 
							a(href="javascript:void(0)") Tài khoản ngân hàng
						li 
							a(href="javascript:void(0)") Hình thức giao hàng
						li 
							a(href="javascript:void(0)") Cước phí giao hàng
				.col-sm-6.col-lg-3.mb-3.mb-sm-0
					.certification
						h2.title-line Chứng nhận
						ul.list-inline
							li.list-inline-item
								img(src="./img/_global/footer_icon_1.png", alt="")
							li.list-inline-item
								img(src="./img/_global/footer_icon_2.png", alt="")
					.social-list
						h2.title-line Kết nối với chúng tôi
						ul.list-inline
							li.list-inline-item
								a(href="javascript:void(0)")
									em.mdi.mdi-facebook
							li.list-inline-item
								a(href="javascript:void(0)")
									em.mdi.mdi-youtube
							li.list-inline-item
								a(href="javascript:void(0)")
									em.mdi.mdi-google-plus
			.row
				.col
					.copyright
						p © 2018 Shop Mua Xuan All Right Reserved. Designed by Cánh Cam.