section.canhcam-home-7
	article.homes-list
		.container
			.row
				.col-12
					.col-12
						h2.mx__title.mx__title--gradient Tin tức - Sự kiện
				.col-md-6.col-lg-4
					a(href="#").item
						figure
							.boxzoom
								img(src="./img/home/home_4.jpg", alt="alt")
							figcaption
								time 31/07/2018
								h4 Mẹo săn hàng giảm giá mùa Black Friday cho các tín đồ thời trang
				.col-md-6.col-lg-4
					a(href="#").item
						figure
							.boxzoom
								img(src="./img/home/home_4.jpg", alt="alt")
							figcaption
								time 31/07/2018
								h4 Top 10 thương hiệu thời trang hàng đầu giảm giá mạnh dịp cuối tuần
				.col-md-6.col-lg-4
					a(href="#").item
						figure
							.boxzoom
								img(src="./img/home/home_4.jpg", alt="alt")
							figcaption
								time 31/07/2018
								h4 Những thương hiệu thời trang giảm giá mùa cuối năm có gì hot? Những thương hiệu thời trang giảm giá mùa cuối năm có gì hot? Những thương hiệu thời trang giảm giá mùa cuối năm có gì hot?