extends _layout/_layout.pug

block var
	- title = 'Demo - About'
	- bodyClass = 'about-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/product-details/p-1/index.pug
	include ../lib/product-details/p-2/index.pug
block footer
	include ../lib/footer/f-1/index.pug