<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Home - Sản phẩm mới" value="1" resourcefile="" />
	<add name="Home - Sản phẩm bán chạy" value="2" resourcefile="" />
	<add name="Home - Sản phẩm khuyến mãi" value="4" resourcefile="" />
	<add name="Sản phẩm khuyến mãi trang trong" value="8" resourcefile="" />
  </position>
  
  <!-- <showoption name="Mới" value="1" class="news op1" /> -->
  <showoption name="Khuyến mãi" value="1" class="promotion op1" />
  <!-- <showoption name="Hết hàng" value="2" class="out-product op2" /> -->
  <showoption name="Miễn phí vận chuyển" value="4" class="shipping-fee op3" />
  <showoption name="Tạm hết" value="8" class="shipping-fee op3" />

  <templatelist xsltname="SMX-ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="SMX-GiamGia.xslt" name="Danh sách sản phẩm khuyến mãi" />
  <templatelist xsltname="SMX-ThanhLy.xslt" name="Danh sách sản phẩm thanh lý" />

  <templatedetail xsltname="SMX-ProductDetail.xslt" name="Chi tiết sản phẩm" />
</templates>