section.canhcam-home-4
	article.homes-list
		.container
			.row
				.col-12
					.wrap-partner
						h2 Thương hiệu
						.list-partners.owl-carousel.owl-theme
							.item
								img(src="./img/brand/brand_1.jpg", alt="")
							.item
								img(src="./img/brand/brand_2.jpg", alt="")
							.item
								img(src="./img/brand/brand_3.jpg", alt="")
							.item
								img(src="./img/brand/brand_4.jpg", alt="")
							.item
								img(src="./img/brand/brand_5.jpg", alt="")
							.item
								img(src="./img/brand/brand_6.jpg", alt="")
							.item
								img(src="./img/brand/brand_6.jpg", alt="")