section.canhcam-home-3
	article.homes-list
		.container
			.row
				.col-12
					h2.mx__title.mx__title--gradient Sản phẩm mới
				.col-lg-6
					figure
						.boxzoom
							img(src="./img/home/home_4.jpg", alt="alt")
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/product/product_1.jpg", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.color__list
								ul
									li
										span(style="background-color: #298ac4")
									li
										span(style="background-color: #f6de7e")
									li
										span(style="background-color: #000000")
									li
										span(style="background-color: #dcdcd9")
							.name
								a(href="#") PUMA Smash Perf Leather Size 8.5 US/41 EU
							span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/product/product_1.jpg", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.color__list
								ul
									li
										span(style="background-color: #298ac4")
									li
										span(style="background-color: #f6de7e")
									li
										span(style="background-color: #000000")
									li
										span(style="background-color: #dcdcd9")
							.name
								a(href="#") Ly giữ nhiệt Takeya Actives Insulated Stainless 
							span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/product/product_1.jpg", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.color__list
								ul
									li
										span(style="background-color: #298ac4")
									li
										span(style="background-color: #f6de7e")
									li
										span(style="background-color: #000000")
									li
										span(style="background-color: #dcdcd9")
							.name
								a(href="#") Swarovski Daytime Turquoise Gold Bracelet Watch
							span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/product/product_1.jpg", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.color__list
								ul
									li
										span(style="background-color: #298ac4")
									li
										span(style="background-color: #f6de7e")
									li
										span(style="background-color: #000000")
									li
										span(style="background-color: #dcdcd9")
							.name
								a(href="#") Nhẫn Swarovski Creativity Wide, Size 55
							span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/product/product_1.jpg", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.color__list
								ul
									li
										span(style="background-color: #298ac4")
									li
										span(style="background-color: #f6de7e")
									li
										span(style="background-color: #000000")
									li
										span(style="background-color: #dcdcd9")
							.name
								a(href="#") Versace Dylan Blue Pour 
							span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					figure
						.boxzoom
							img(src="./img/product/product_1.jpg", alt="alt")
							.boxdetail
								a.buy(href="#")
									em.mdi.mdi-basket
									| Cho vào giỏ hàng
								a.detail(href="#")
									em.mdi.mdi-eye
									| Xem sản phẩm
						figcaption
							.color__list
								ul
									li
										span(style="background-color: #298ac4")
									li
										span(style="background-color: #f6de7e")
									li
										span(style="background-color: #000000")
									li
										span(style="background-color: #dcdcd9")
							.name
								a(href="#") L'oreal Paris Age Perfect Hydrating Cream Day
							span.price 1.500.000 đ
