section.canhcam-home-3
	article.homes-list
		.container
			.row
				.col-12
					h2.mx__title.mx__title--gradient Sản phẩm mới
				.col-lg-6
					figure
						.boxzoom
							img(src="./img/home/home_4.jpg", alt="alt")
				.col-md-6.col-lg-3.product__item
					a(href="")
						figure
							.boxzoom
								img(src="./img/product/product_1.jpg", alt="alt")
							figcaption
								.color__list
									ul
										li
											a(href="#", title="title" style="background-color: #298ac4")
										li
											a(href="#", title="title" style="background-color: #f6de7e")
										li
											a(href="#", title="title" style="background-color: #000000")
										li
											a(href="#", title="title" style="background-color: #dcdcd9")
								h4.name PUMA Smash Perf Leather Size 8.5 US/41 EU
								span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					a(href="")
						figure
							.boxzoom
								img(src="./img/product/product_1.jpg", alt="alt")
							figcaption
								.color__list
									ul
										li
											a(href="#", title="title" style="background-color: #298ac4")
										li
											a(href="#", title="title" style="background-color: #f6de7e")
										li
											a(href="#", title="title" style="background-color: #000000")
										li
											a(href="#", title="title" style="background-color: #dcdcd9")
								h4.name Ly giữ nhiệt Takeya Actives Insulated Stainless 
								span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					a(href="")
						figure
							.boxzoom
								img(src="./img/product/product_1.jpg", alt="alt")
							figcaption
								.color__list
									ul
										li
											a(href="#", title="title" style="background-color: #298ac4")
										li
											a(href="#", title="title" style="background-color: #f6de7e")
										li
											a(href="#", title="title" style="background-color: #000000")
										li
											a(href="#", title="title" style="background-color: #dcdcd9")
								h4.name Ly giữ nhiệt Takeya Actives Insulated Stainless 
								span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					a(href="")
						figure
							.boxzoom
								img(src="./img/product/product_1.jpg", alt="alt")
							figcaption
								.color__list
									ul
										li
											a(href="#", title="title" style="background-color: #298ac4")
										li
											a(href="#", title="title" style="background-color: #f6de7e")
										li
											a(href="#", title="title" style="background-color: #000000")
										li
											a(href="#", title="title" style="background-color: #dcdcd9")
								h4.name Ly giữ nhiệt Takeya Actives Insulated Stainless 
								span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					a(href="")
						figure
							.boxzoom
								img(src="./img/product/product_1.jpg", alt="alt")
							figcaption
								.color__list
									ul
										li
											a(href="#", title="title" style="background-color: #298ac4")
										li
											a(href="#", title="title" style="background-color: #f6de7e")
										li
											a(href="#", title="title" style="background-color: #000000")
										li
											a(href="#", title="title" style="background-color: #dcdcd9")
								h4.name Ly giữ nhiệt Takeya Actives Insulated Stainless 
								span.price 1.500.000 đ
				.col-md-6.col-lg-3.product__item
					a(href="")
						figure
							.boxzoom
								img(src="./img/product/product_1.jpg", alt="alt")
							figcaption
								.color__list
									ul
										li
											a(href="#", title="title" style="background-color: #298ac4")
										li
											a(href="#", title="title" style="background-color: #f6de7e")
										li
											a(href="#", title="title" style="background-color: #000000")
										li
											a(href="#", title="title" style="background-color: #dcdcd9")
								h4.name Ly giữ nhiệt Takeya Actives Insulated Stainless 
								span.price 1.500.000 đ
